---
import MovieSlider from '../components/MovieSlider.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <header style="padding: 24px 20px; background-color: #1e293b; color: #f1f5f9; text-align: center;">
    <h1 style="margin: 0; font-size: 2.5rem; font-weight: 700; letter-spacing: 2px;">
      Movie Vault
    </h1>
    <p style="margin-top: 8px; font-size: 1.1rem; max-width: 900px; color: #94a3b8; text-align: center; margin-left: auto; margin-right: auto;">
      Your ultimate collection of movie info and soundtracks. Explore and enjoy timeless classics.
    </p>
  </header>

  <MovieSlider/>
</Layout>

<style>
  div::-webkit-scrollbar {
    display: none;
  }
  div {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
</style>
