---
export interface Props {
  backgroundImage: string;
  name: string;
}

const { backgroundImage, name } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{name}</title>
    <link rel="icon" type="image/png" href="${backgroundImage}" />
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <div class="background" style={`background-image: url('${backgroundImage}');`}></div>
      <slot />
  </body>
</html>
